.header {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr; 
	background-color: rgba(0, 0, 0, 0.1);
}

.tag {
	color: red;
	font-style: italic;
	font-weight: bold;
}

.header h3 {
	font-size: 1.5rem;
	text-align: left;
	margin-top: 1rem;
}

.header article img {
	border-radius: 10px;
	width: 80%;
}

.header article {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 75%;
	padding: 3rem;
	margin: 0 auto;
}

.header > article > div { 
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
}

button.arrow {
	display: inline-block;
	border: none;
	font-weight: bold;
	font-size: 2rem;
	background-color: rgba(0, 0, 0, 0.1);
}
