.header {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.header h1 {
	font-size: 2rem;
	text-align: left;
}

.header img {
	border-radius: 10px;
}

.header > article > img {
	width: 80%;
}


