nav {
	display: flex;
	flex-direction: row;
	height: 3rem;
	justify-content: space-around;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

li {
	margin-left: 5rem;
}


a:hover {
	text-decoration: underline;
}
