.news_article {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	width: 16rem; 
	background-color: red;
	text-align: center;
	border-radius: 5%;
	max-height: 20rem;
	margin: 1rem;
}

.news_article img {
	border-radius: 5%;
}

.news_article > p {
	word-break: break-all;
	white-space: normal;
}



